---
import { getCollection } from 'astro:content';

const innlegg = await getCollection('innlegg');
const sorted = innlegg.sort((a, b) => b.data.datoPublisert - a.data.datoPublisert);
---

{sorted.map(innlegg => (
        <article class="post-item">
            <h2 class="post-title">
                <a href={`/posts/${innlegg.id}`} >{innlegg.data.tittel}</a>

                <span class="meta"> – <time datetime={innlegg.data.datoPublisert.toISOString().slice(0,10)}>
                Publisert {innlegg.data.datoPublisert.toLocaleDateString('nb-NO', { year: 'numeric', month: 'long', day: 'numeric' })}
                </time></span>
            </h2>
            <p>{innlegg.body.replace(/^#.*\r?\n+/, '').trim().slice(0, 200)}...</p>
            </article>
        ))}